$color-primary:#2979ff;
// $color-success:#5ac725;
$color-success:#4BB983;
$color-error:#f56c6c;
$color-warning:#f9ae3d;
$color-info: #909399;
$color-form-placeholder:#c0c4cc;
$color-border-placeholder:#EDF1F7;