@include b(button){
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-width: 2rpx;
	border-style: solid;
	border-color: transparent;
	height: 80rpx;
	line-height: inherit;
	border-radius: 0;
	@include m(active){
		opacity: 0.75;
	}
	@include m(info){
		border-color: #ebedf0;
		.j-button--text{
			color: #323233;
		}
	}
	@include m(primary){
		border-color: $color-primary;
		background-color: $color-primary!important;
		.j-button--text{
			color: #fff;
		}
	}
	@include m(success){
		border-color: $color-success;
		background-color: $color-success!important;
		.j-button--text{
			color: #fff;
		}
	}
	@include m(error){
		border-color: $color-error;
		background-color: $color-error!important;
		.j-button--text{
			color: #fff;
		}
	}
	@include m(warning){
		border-color: $color-warning;
		background-color: $color-warning!important;
		.j-button--text{
			color: #fff;
		}
	}
	@include m(plain){
		background-color: transparent!important;
	}
	@include brother(primary, plain){
		.j-button--text{
			color: $color-primary;
		}
	}
	@include brother(success, plain){
		.j-button--text{
			color: $color-success;
		}
	}
	@include brother(error, plain){
		.j-button--text{
			color: $color-error;
		}
	}
	@include brother(warning, plain){
		.j-button--text{
			color: $color-warning;
		}
	}
	@include brother(info, active){
		background-color: rgb(217, 217, 217);
	}
	@include m(disabled){
		opacity: 0.5;
	}
	@include m(large){
		height: 100rpx;
		padding: 0 30rpx;
	}
	@include m(normal){
		padding: 0 24rpx;
		font-size: 28rpx;
	}
	@include m(small){
		height: 60rpx;
		padding: 0 16rpx;
		font-size: 24rpx;
	}
	@include m(mini){
		height: 44rpx;
		padding: 0 16rpx;
		font-size: 20rpx;
	}
}